venv/
.idea/
__pycache__/
recipeBook/.env

backup

# git init
# git config user.name "F4ruk-seker"
# git config user.email ""
# git add -A
# git status
# git commit -m ""
# git remote add origin
# git push -u origin main