<!DOCTYPE html>
<html>
<head>
    {% include 'basic_head.html' %}
</head>
<body class="bg-dark">
    {% include 'navbar.html' %}
    <div class="container">
        <div class="d-flex">
            <div class="col">
                {% block content %}{% endblock %}
            </div>
            <div class="col-1 mobil-hide"></div>
            <div class="col-3 mobil-hide">
                {% block leftBar %}{% endblock %}
            </div>
        </div>
        <hr>
        <div class="text-center w-100">
            <strong class="text-center text-light">
                pars
            </strong>
        </div>
    </div>
    </body>
</html>