<html>
<head>
    {% include 'basic_head.html' %}
</head>
<body>
{% include 'navbar.html' %}

<div class="container">
    <div class="d-flex">
        <div class="col">
            {% block content %}{% endblock %}
        </div>
        <div class="col-1"></div>
        <div class="col-3">
            {% block leftBar %}{% endblock %}
        </div>
    </div>
    <hr>
    <div class="text-center w-100">
        <strong class="text-center">
            pars
        </strong>
    </div>
</div>

</body>
</html>