{% extends 'base.html' %}

{% block content %}
    {% if request.user.is_staff %}
        {% include '_recipe_form.html' %}
        {% load static %}
        <script src="{% static '/js/recipe_form_script.js' %}"></script>
    {% endif%}
    {% for recipe in recipe_all %}
        {% include 'recipe.html' %}
    {% empty %}
        <div class="card bg-dark text-center py-2 border-secondary text-light">
            no posts yet
        </div>
    {% endfor %}

{% endblock %}
{% block leftBar %}
    <div class="position-fixed" style="max-width: 20%;min-width: 15%">
        {% include '_create_recipe_mini_card.html' %}
    </div>
{% endblock %}
