<!--nav-->
<nav class="navbar  navbar-expand navbar-dark bg-dark position-fixed border-secondary border-bottom w-100 bg-light" style="z-index: 10;">
    <div class="container">
      <a class="navbar-brand nav-link" href="{% url 'main_page' %}">Fit Recipes</a>
      <a class="nav-link" href="{% url 'main_page' %}">DevLog</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

<div class="mx-auto order-0 col-sm-0 col-5">
    <input class="form-control " type="search" placeholder="tarifler,mallzemeler" aria-label="Search" id="search_field" onchange="search_tracker('search_field')" onkeyup="console.log(document.getElementById('search_field').value);">
</div>
<div class="navbar-right ">
{% if request.user.is_authenticated %}
   <ul class="navbar-nav me-auto mb-2 mb-lg-0">
       <li class="nav-item">
           <a class="nav-link"></a>
       </li>
       <li class="nav-item dropdown">
          <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {% load static %}
              <img class="rounded-circle bg-dark" style="width: 40px;height:40px;" src="https://firebasestorage.googleapis.com/v0/b/otomation-b0c8a.appspot.com/o/userAvatars%2Fdefault.jpg?alt=media&token=f82a1c8b-542b-45a2-91b5-03a0a8cc6650">
              <strong class="p-2 text-center mobil-hide">{{ request.user.username }}</strong>
          </a>
        <ul class="dropdown-menu">
            <li>
{#                <a class="dropdown-item link-info" href="{% url 'userpage' request.user.slug  %}">Profilim</a>#}
            </li>
            <li>
                <form method="post" action="{% url 'admin:logout' %}">
                    {% csrf_token %}
                    <button class="dropdown-item link-danger" href="#">Çıkış Yap</button>
                </form>
            </li>
        </ul>
    </li>
</ul>
{% else %}
<a class="btn btn-dark link-light" href="{% url 'admin:login' %}">login</a>
{% endif %}
        </div>
      </div>
    </div>
</nav>
<!--nav END -->
<div style="height: 10vh"></div>